{% extends 'pages/base.html' %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
    <div class="top-navbar">
        <div class="top-navbar-left">
            <span class="breadcrumb">
                <a href="{% url 'page_list' workspace_id=page.workspace.id %}">{{ page.workspace.name }}</a>
                {% if page.parent_page %}
                     / <a href="{% url 'page_detail' page_id=page.parent_page.id %}">{{ page.parent_page.title }}</a>
                {% endif %}
                / {{ page.title }}
            </span>
        </div>
        <div class="top-navbar-right">
            <span class="top-navbar-text-button" title="공유">
                공유
            </span>
            <span class="top-navbar-icon" title="댓글 사이드바 열기">
                 <i class="far fa-comment-dots"></i>
            </span>
            <span class="top-navbar-icon" title="즐겨찾기">
                 <i class="far fa-star"></i>
            </span>
             <span class="top-navbar-icon" title="더보기">
                 <i class="fas fa-ellipsis-h"></i>
            </span>
        </div>
    </div>

    <h1>{{ page.title }}</h1>

    <div class="page-detail-content">
        {% autoescape off %}
        {{ page.content|linebreaksbr }}
        {% endautoescape %}
    </div>

{% endblock %}